body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#search {
    margin-bottom: 20px;
    padding: 10px;
    width: calc(100% - 22px); /* Adjusted to fit the container */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.status-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.status-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: red;
}

.visit-button {
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.visit-button:hover {
    background-color: #007bff;
    color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
